push.bat

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
*.tmp
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
.dart_tool/
**/.dart_tool/
.flutter-plugins
**/.flutter-plugins
.flutter-plugins-dependencies
**/.flutter-plugins-dependencies
.packages
**/.packages
.pub-cache/
**/.pub-cache/
.pub/
**/.pub/
build/
**/build/
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/

# Symbolication & obfuscation
app.*.symbols
app.*.map.json

# Android Studio / Gradle
**/android/app/debug
**/android/app/profile
**/android/app/release
.gradle/
**/.gradle/
local.properties
**/local.properties
